<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head(~{::title}, ~{::link}, ~{::script})">
    <title>Список ссылок</title>
    <script th:src="@{/static/lib/floatThead/jquery.floatThead.min.js}"></script>
</head>
<body class="bg-secondary">
    <header th:replace="fragments/header :: header()"></header>
    <div class="container my-2">
        <table class="table table-bordered table-sm">
            <thead class="thead-dark">
            <tr>
                <th>Название сайта</th>
                <th>Ссылка</th>
                <th>Авторизация</th>
                <th>Логин</th>
                <th>Пароль</th>
            </tr>
            </thead>
            <tbody class="bg-white">
            <tr th:each="url : ${urls}" th:onclick="'request(\'' + @{|/admin/urls/${url.id}|}+ '\');'">
                <td th:utext="${url.name}"></td>
                <td><a th:href="@{${url.url}}" th:utext="${url.url}"></a></td>
                <td th:utext="${url.isAuth}"></td>
                <td th:utext="${url.login}"></td>
                <td th:utext="${url.password}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>