<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<header th:fragment="header()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img src="/static/favicon.ico" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link active" href="/">GameTracker</a>
                </li>

                <!-- Пользователи -->
                <!--<li class="nav-item" sec:authorize="!hasRole('ROLE_ANONYMOUS')">-->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/users}">Пользователи</a>
                </li>

                <!-- Ссылки -->
                <!--<li class="nav-item" sec:authorize="!hasRole('ROLE_ANONYMOUS')">-->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/urls}">Ссылки</a>
                </li>

                <!--<li class="nav-item" sec:authorize="!hasRole('ROLE_ANONYMOUS')">-->
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="/swagger-ui.html">Swagger</a>
                </li>
            </ul>
            <div class="navbar-nav">
                <div class="navbar-text text-info col-auto mx-auto">Username</div>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Войти</button>
            </div>
        </div>
    </nav>
</header>